#CompanyHeader {
    width: 100%;
    height: 200px;
    margin-top: 78px;
}

#CompanyHeader .company-header-banner {
    width: 100%;
    height: 100%;
    background: url(./../../../public/img/common/detail_header.png) no-repeat center / cover;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

#CompanyHeader .company-header-title-wrap {
    width: 420px;
    height: 50px;
    margin: 0 auto;
}

#CompanyHeader .company-header-title-wrap .company-header-title {
    font-size: 32px;
    font-weight: bold;
    padding-top: 60px;
    margin-bottom: 16px;
    color: #fff;
}

#CompanyHeader .company-header-title-wrap .company-header-des {
    font-size: 14px;
    color: #fff;
}

#CompanyHeader .company-header-banner .company-header-nav {
    position: absolute;
    width: 1000px;
    height: 50px;
    background-color: #2C3540;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    line-height: 50px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

#CompanyHeader .company-header-banner .company-header-nav svg {
    margin: 0 20px;
}

#CompanyHeader .company-header-banner .company-header-nav .company-header-title-link {
    font-size: 16px;
    margin: 0 20px;
}

#CompanyHeader .company-header-banner .company-header-nav .company-header-sub-link {
    font-size: 1rem;
    margin: 0 20px;
}