/* 해외진출 지원 */

.abroad-support-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2C3540;
  width: 200px;
  height: 80px;
}
.support-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.support-card-box {
  margin: 40px;
}
.abroad-support-card {
  position: relative;
  border-radius: 4px;
}
.abroad-support-card:hover>.abroad-support-card-title-hover {
  opacity: 1;
  z-index: 1;
}
.abroad-support-card-title-hover {
  opacity: 0;
  position: absolute;
  width: 200px;
  height: 80px;
  line-height: 80px;
  background-color: rgba(44, 53, 64, 0.9);
  color: #efefef;
  font-weight: bold;
  border-radius: 4px;
}
.abroad-support-card-title {
  font-size: 14px;
}

.abroad-desc-list {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.abroad-desc-list li {
  margin-bottom: 12px;
  line-height: 160%;
}
.abroad-desc-list dt {
  margin-bottom: 10px;
  font-weight: bold;
}
.abroad-desc-list dd {
  color: #2C3540;
  line-height: 160%;
  margin-bottom: 8px;
  margin-left: 8px;
}
.abroad-desc-table {
  width: 900px;
  border: 1px solid #2C3540;
  font-size: 14px;
}
.abroad-desc-table th, .abroad-desc-table td {
  border: 1px solid #2C3540;
  padding: 8px;
}
.abroad-desc-table td {
  padding: 12px;
}
.abroad-desc-table thead {
  background-color: #2C3540;
  color: #efefef;
}
.abroad-desc-table ul {
  list-style: disc;
  list-style-position: inside;
  line-height: 150%;
}
.abroad-desc-table.abroad-desc-table-center {
  width: 1000px;
  border: none;
}
.abroad-desc-table.abroad-desc-table-center td {
  text-align: center;
  border: none;
  border-bottom: 1px solid #2C3540;
}
#AbroadSupportHistory {
  width: 1200px;
  border-bottom: 1px solid #2C3540;
  text-align: right;
  padding-bottom: 16px;
}
#AbroadSupportHistory button {
  margin-right: 30px;
  padding: 3px;
}