.login-button {
  right: 0;
  bottom: 7%;
  padding: 7px;
  position: absolute;
  padding: 7px;
  border-radius: 0.25rem;
  color: #fff;
  background: #3b4b59;
  font-size: 0.87rem;
  margin-right: 10px;
}

@media (max-width: 765px) {
  .login-button {
    bottom: 4%;
    right: 3%;
    font-size: 0.37rem;
  }
}
