/* Mobile Hamburher 메뉴 */

#Hamburger {
    width: 240px;
    height: 100vh;
    position: absolute;
    top: 80px;
    right: 0;
    color: #2c3540;
    background-color: #efefef;
}

#Hamburger.open {
    display: block;
    animation: HamburgerOpen 0.3s linear;
}

#Hamburger.closed {
    display: none;
}

#Hamburger .hamburger-list {
    padding: 30px 20px;
}

#Hamburger .hamburger-list .hamburger-title-menu {
    padding: 20px 0;
    border-top: 1px solid rgba(44, 53, 64, 0.1);
    font-size: 16px;
    cursor: pointer;
}

.hamburger-title-menu:target .hamburger-sub-menu {
    max-height: 10em;
}

#Hamburger .hamburger-list .hamburger-title-menu:hover {
    color: #F27B35;
}

#Hamburger .hamburger-list .hamburger-title-menu:last-child {
    border-bottom: 1px solid rgba(44, 53, 64, 0.1);
}

#Hamburger .hamburger-list .hamburger-title-menu .hamburger-sub-menu {
    display: none;
    animation: MenuSlide 0.3s linear;
    padding: 10px;
    overflow: hidden;
    transition: all 0.7s;
}

#Hamburger .hamburger-list .hamburger-title-menu .hamburger-sub-menu.open {
    display: block;
    transform-origin: 50% 50%;
    color: #2c3540;
    transition: all 0.3s;
}

#Hamburger .hamburger-list .hamburger-title-menu .hamburger-sub-menu li {
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
}

#Hamburger .hamburger-list .hamburger-title-menu .hamburger-sub-menu li:hover {
    color: #F27B35;
}

@keyframes HamburgerOpen {
    from {
        right: -240px
    }
    to {
        right: 0;
    }
}

@keyframes HamburgerClose {
    from {
        right: 0px
    }
    to {
        right: -240px;
        display: none;
    }
}

@keyframes MenuSlide {
    from {
        height: 0px;
    }
    to {
        height: 100%;
    }
}

@media (max-width:765px) {
    #Hamburger {
        height: auto;
        left: 40%;
        color: #2c3540;
        background-color: #efefef;
        z-index: 9999;
    }
    #Hamburger .hamburger-list .hamburger-title-menu {
        padding: 20px 0;
        border-top: 1px solid rgba(44, 53, 64, 0.1);
        font-size: 16px;
        cursor: pointer;
    }
    .hamburger-title-menu:target .hamburger-sub-menu {
        height: auto;
    }
    @keyframes HamburgerOpen {
        from {
            left: 50%;
        }
        to {
            left: 40%;
        }
    }
}