.notice-title {
    width: 400px;
    height: 180px;
    line-height: 180px;
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    color: #2c3540;
}


/* .list-name {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
    color: #b66666;
} */

.notice-list {
    font-size: 0.875rem;
    width: 1000px;
}

.notice-list>li {
    border-bottom: 1px solid #ccc;
}

.notice-list>li:first-child {
    border-top: 1px solid #ccc;
}

.list-box {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.board-lists {
    width: 1200px;
    height: 35px;
    line-height: 35px;
    color: #2c3540;
    /* text-align: left; */
}

.board-lists a {
    display: flex;
    flex-wrap: wrap;
}

.board-lists.title {
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid #2c3540;
    font-size: 0.875rem;
}

.board-lists span {
    /*   display: block; 
   border-left: 1px solid #ccc;  */
}

.board-lists.title .list-title {
    text-align: center;
}

.board-lists.title span {
    background-color: rgba(102, 102, 102, 0.1);
    border-bottom: 1px solid #ccc;
}

.id-name {
    width: 150px;
}

.list-title {
    width: 700px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    padding: 0 20px;
}

.list-title:hover {
    cursor: pointer;
}

.list-author {
    width: 100px;
}

.list-date {
    width: 150px;
}

.list-view {
    width: 100px;
}


/* .listtitle:hover:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
} */

.inquireBtn {
    right: 5%;
    bottom: 5%;
    padding: 7px;
    position: absolute;
    border-radius: 0.25rem;
    color: #fff;
    background: #3b4b59;
    font-size: 0.87rem;
    margin-right: 0;
}

.loginBtn {
    display: block;
    right: 5%;
    bottom: 5%;
    padding: 7px;
    position: absolute;
    border-radius: 0.25rem;
    color: #fff;
    background: #3b4b59;
    font-size: 0.85rem;
}

.writeBtn {
    right: 0;
    bottom: 5%;
    padding: 7px;
    position: absolute;
    border-radius: 0.25rem;
    color: #fff;
    background: #3b4b59;
    font-size: 0.87rem;
}

.board-search-container {
    width: 1200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 20px;
    border-radius: 15px;
}

.btn-success {
    margin-left: -26px;
}

.board-search-selector {
    width: 70px;
    height: 40px;
    margin-right: 10px;
}

.input-box {
    width: 250px;
    height: 40px;
    font-size: 1rem;
}

.detail-container table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    text-align: left;
}

.detail-container table th,
.detail-container table td {
    border: 1px solid #ccc;
}

.detail-container table th {
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(204, 204, 204, 0.2);
}

.detail-container-header-content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.detail-container-header-view {
    padding-right: 10px;
}
.detail-container-header-contents{padding: 20px;}
.detail-sample-img {
    width: 100%;
}
.news-notice-list{}
.news-board-lists{height: 200px;border: solid 1px black;}
.news-list-thumnail{
    background-image: url(../../../public/img/Notice/zetaplan_sample_img2.png);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
/*     overflow: hidden;
    box-shadow: 5px 5px 5px 5px gray; */
  }
  .news-list-content{}