.list-name {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  color: #b66666;
}

.notice-list {
  font-size: 0.875rem;
  width: 1000px;
}

.notice-list > li {
  border-bottom: 1px solid #ccc;
}

.notice-list > li:first-child {
  border-top: 1px solid #ccc;
}

.list-box {
  width: 1200px;
  margin: 0 auto;
}

.board-lists {
  width: 1200px;
  height: 35px;
  line-height: 35px;
  color: #2c3540;
  text-align: center;
}

.board-lists a {
  display: flex;
  flex-wrap: wrap;
}

.board-lists.title {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ccc;
}

.board-lists span {
  display: block;
  border-left: 1px solid #ccc;
}
.board-lists.title .list-title {
  text-align: center;
}
.board-lists.title span {
  background-color: #ccc;
}

.id-name {
  width: 150px;
}

.list-title {
  width: 700px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  padding: 0 20px;
}

.list-author {
  width: 100px;
}

.list-date {
  width: 150px;
}

.list-view {
  width: 100px;
  border-right: 1px solid #ccc;
}

.listtitle:hover:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
