.fullpage-paging {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    left: 5vw;
    z-index: 9999;
}

.fullpage-paging button:first-child,
.fullpage-paging button:last-child {
    display: none;
}

.fullpage-paging button:nth-child(2),
.fullpage-paging button:nth-child(3),
.fullpage-paging button:nth-child(4),
.fullpage-paging button:nth-child(5),
.fullpage-paging button:nth-child(6),
.fullpage-paging button:nth-child(7),
.fullpage-paging button:nth-child(8),
.fullpage-paging button:nth-child(9) {
    width: 0.520vw;
    height: 0.520vw;
    border-radius: 50%;
    background-color: #2C3540;
    font-size: 0;
    margin: 0.520vw 0;
}

.fullpage-paging button:disabled {
    background-color: #EFEFEF;
    border: 0.130vw solid #2C3540;
}

#MainInner {
    width: 1440px;
    max-width: 1440px;
    margin: 0 auto;
}

#SubInner {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}