#Notice .list-name{
    font-size: 1.5rem;
    text-align:center;
    margin-top:2rem;
    color:#b66666;
}

#Notice .notice-list{font-size:0.875rem;
    margin:3rem auto;
    width:1000px;
}
#Notice .notice-list>li{
    padding:0.5rem 1rem;
    border-bottom:1px solid #ccc;
    display:flex;
}
#Notice .id-name{
        width:4rem;
        color:#333
    }
#Notice .list-body{
        margin-left:1.5rem;
        width:50rem;
        text-overflow:ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color:#666;
        text-align:left;
    }
#Notice .list-body:hover{
        color:#000;
}

#Notice .listBody:hover:hover{
        background:rgba(0,0,0,.1);
        cursor:pointer;
}
