.investplan-image-container {
    width: 1100px;
    height: auto;
    margin: 0 auto;

}

.investplan-image-container img {
    width: 90%;
    height: 90%;
}


.analysis {
    margin: 0 auto;
    width: 1100px;
}

#InvestPlan #SubInner h2 {
    font-weight: 700;
    font-size: 20px;
    color: #2C3540;
    margin-top: 150px;
    position: relative;
    margin: 40px 0;
}

.analysis h3 {
    font-weight: 700;
    font-size: 16px;
    color: #2C3540;
    position: relative;
}

.analysis section {
    line-height: 1.7;
    margin: 30px 0 80px 0;
}

.analysis section {
    line-height: 1.7;
    margin: 30px 0 80px 0;

}

.analysis .s4 table {
    width: 1000px;

}

.analysis .s4 table tr td {
    border: solid 1px #000;
    padding: 20px 10px;
    text-align: left;
    font-size: 16px;
    padding: 20px;

}