.invest-title-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invest-title {
    font-weight: 700;
    font-size: 24px;
    color: #2C3540;
    margin-bottom: 24px;
}

.image-container {
    margin: 0 auto;
    width: 1100px;
    height: 700px;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.invest-title-line {
    width: 3px;
    height: 50px;
    background-color: #3B4B59;

}

.network-consulting h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    color: #2C3540;
    margin-bottom: 80px;
}

.network-consulting-info h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
}

.network-consulting-info h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: rgba(44, 53, 64, 0.5);
    border-radius: 16px;
    position: absolute;
    left: 20%;
    top: 50%;
}

.network-consulting-info {
    margin: 30px 0 80px 0;
    line-height: 1.5;
    color: #2C3540;
}

.network-consulting-info img {
    width: 1000px;
}