#Trade {
    color: #2c3540;
  }
  
#Trade .industry-trade-section {
    margin: 70px 0;
  }
#Trade .industry-trade-section div {
    margin-left: 10px;
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.7;
  }
#Trade #SubInner .industry-trade-section1 .industry-trade-title-container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
#Trade .industry-trade-section1 .industry-trade-title-container .industry-trade-title {
    font-weight: 700;
    font-size: 24px;
    color: #2c3540;
    margin-bottom: 24px;
  }
  

  /* =================== */
  #Trade .industry-trade-part1{
    display: inline-block;
    position: relative;

    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  #Trade .industry-trade-part1::after {
    content: "";
    display: block;
    width: 2px;
    height:26px;
    background-color: rgba(44, 53, 64, 0.5);
    border-radius: 16px;
    position: absolute;
    left: -10px;
    top:0;
  }
  

  #Trade .industry-trade-part {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
    font-weight: bold;
  }

  #Trade .industry-trade-part::after {
    content: "";
    display: block;
    width: 60px;
    height: 1.8px;
    background-color: rgba(44, 53, 64, 0.5);
    border-radius: 16px;
    position: absolute;
    right: -70px;
    top: 50%;
  }
  
  #Trade .industry-trade-table-title{
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  #Trade .industry-trade-part-txt {
      font-size: 14px;
      line-height: 1.7;
  }

  #Trade .industry-trade-list{
    list-style-type: disc;
    box-sizing: border-box;
    padding-left: 30px;
  }

  /* ============ trade slider && img ========== */


#Trade .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 50px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#Trade .swiper-slide img {
  display: block;
  width: 350px;
  height: 200px;
  padding-left: 10px;
  /* object-fit: cover; */
}

#Trade img{
  width: 1000px;
  height: 300px;
}
#Trade #img0{
  width: 1000px;
  height: 400px;
  margin: 30px 0;
}
#Trade #img4{
  height: 400px;
}


/* ========table======= */

#Trade table {
  width: 100%;
  border: 2px solid #2c3540;
  text-align: left;
  border-collapse: collapse;
}
#Trade table th,
#Trade table td {
  border: 2px solid #2c3540;
}
#Trade table th {
  text-align: center;
  background-color: rgba(59, 75, 89, 0.8);
  color: #efefef;
  font-size: 16px;
  padding: 20px;
}
#Trade table td {
  padding: 10px 20px 10px;
}

#Trade table dt {
  font-weight: bold;
}
#Trade table dd {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}