/* ManPower 인력 CSS */

.manpower-image {
  position: relative;
  width: 260px;
  height: 260px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 5px 5px 5px 5px gray;
}

.manpower-image-cover img {
  width: 260px;
  height: 260px;
}

/* .manpower-image-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 50%;
} */

.manpower-image span:nth-child(1) {
  width: 300px;
  position: absolute;
  /*   top: 86%;
  left: 73%; */
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.5em;
  z-index: 1;
  text-align: center;
  /* color: #3b4b59; */
  color: #efefef;
  background-color: #2c3540;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
}
.manpower-image span:nth-child(2) {
  width: 200px;
  position: absolute;
  /*   top: 95%;
  left: 73%; */
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
  font-weight: 400;
  z-index: 1;
  text-align: center;
  /*   color: #3b4b59; */
  background-color: #2c3540;
  color: #efefef;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 7px;
  display: block;
}

.manpower-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 55px;
  column-gap: 28px;
  justify-items: center;
  padding-bottom: 120px;
}

.ex-box {
  display: block;
  /* position: absolute; */
  /*   display: none; */
  width: 910px;
  height: 300px;
  top: 90%;
  z-index: 3;
  background-color: #2c3540;
  color: #fff;
  box-shadow: 5px 5px 5px 5px gray;
}
.ex-inner-box {
  padding: 15px;
}
.item-name2 {
  padding: 15px 0;
  font-size: 2.625rem;
  line-height: 1.5em;
}

.item-position2 {
  padding: 15px 0;
  font-size: 1.563rem;
  line-height: 1.5em;
}

.close-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  fill: #fff;
}
.item-detail {
  padding-top: 40px;
  border-top: 3px solid #fff;
  font-size: 1.1rem;
}

.item-subposition {
  padding-top: 40px;
  font-size: 1.1rem;
}

@media screen and (max-width: 765px) {
  .ex-box {
    display: none;
  }
  .manpower-box {
   display: flex;
/* width: 50%; */
width: 130px;

  }
  .manpower-outbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;/* flex-wrap: wrap; */
  }.manpower-image{width: 130px;height: 130px;}
  .manpower-image-cover img{width: 130px;height: 130px;}
  
.manpower-image span:nth-child(1) {font-size: 0.9rem;}

.manpower-image span:nth-child(2){font-size: 0.5rem;top: 92%;} 
}
