#companyCi {
  text-align: center;
  color: #333;
}

#companyCi .logo {
  width: 542px;
  height: 181px;
  background: url(./.././../../public/img/common/logo.png) no-repeat center / cover;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-271px);
}
#companyCi .logo_content {
  margin-top: 320px;
}
#companyCi .logo_content .logo_content_top {
  font-size: 1.4rem;
  margin-bottom: 30px;
}
#companyCi .logo_content .logo_content_middle {
  font-size: 1rem;
  line-height: 1.7rem;
}
#companyCi .logo_content .logo_content_bottom .download {
  width: 200px;
  height: 40px;
  background-color: #efefef;
  border-radius: 10px;
  border: #2c3540;
  color: #2c3540;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 100px;
}
