/* ManPower 인력 CSS */

.manpower-image {
  position: relative;
  width: 230px;
  height: 230px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 2px 2px 2px 2px rgb(184, 184, 184);
  cursor: pointer;
}

.manpower-image-cover img {
  width: 230px;
  height: 230px;
}

/* .manpower-image-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 50%;
} */

.manpower-image span:nth-child(1) {
  width: 300px;
  position: absolute;
  /*   top: 86%;
  left: 73%; */
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5em;
  z-index: 1;
  text-align: center;
  /* color: #3b4b59; */
  color: #efefef;
  background-color: #2c3540;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
}
.manpower-image span:nth-child(2) {
  width: 200px;
  position: absolute;
  /*   top: 95%;
  left: 73%; */
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.9rem;
  font-weight: 400;
  z-index: 0;
  text-align: center;
  /*   color: #3b4b59; */
  background-color: #2c3540;
  color: #efefef;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 6px;
  display: block;
}
.manpower-outbox {
  /*   float: left;
  width: 23%;
  margin: 0 1%; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
  column-gap: 90px;
  justify-items: flex-start;
  padding-bottom: 120px;
  /*   width: 102%;
  margin-left: -1%;
  position: relative; */
}
.manpower-box {
  width: 230px;
  /*   float: left;
  width: 23%;
  margin: 0 1%; */
  height: auto;
  /*   display: flex;
  row-gap: 55px;
  column-gap: 28px;
  padding-bottom: 60px; */
}
/* .manpower-box:hover {
  background-color: gray;
} */
.ex-box {
  /*   display: block; */
  /* position: absolute; */
  /*   display: none; */
  /*   margin-top: 30px;
  width: 1200px;
  height: 250px;
  z-index: 3;
  background-color: #2c3540;
  color: #fff;
  box-shadow: 2px 2px 2px 2px rgb(184, 184, 184); */
}

.ex-box.on {
  display: block;
  width: 1200px;
  margin-top: 30px;
  /*   margin-bottom: 357px; */
  /*   z-index: 9999; */
  background-color: #2c3540;
  color: #fff;
  box-shadow: 2px 2px 2px 2px rgb(184, 184, 184);
}

.ex-box.off {
  display: none;
}
.ex-box.off .manpower-box {
  background-color: #a2a2a2;
}
.ex-inner-box {
  padding: 15px;
}
.item-name2 {
  padding: 15px 0;
  font-size: 1.8rem;
  line-height: 1.5em;
}

.item-position2 {
  padding: 15px 0;
  font-size: 1.3rem;
  line-height: 1.5em;
}
.ex-name {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.close-icon {
  /*   position: absolute;
  right: 9%;
  top: 71%; */
  fill: #fff;
  cursor: pointer;
}
.item-detail {
  padding-top: 10px;
  border-top: 3px solid #fff;
  font-size: 0.9rem;
  line-height: 25px;
}

.item-subposition {
  padding-top: 20px;
  font-size: 0.9rem;
  line-height: 1.2;
}

@media screen and (max-width: 765px) {
  .ex-box {
    display: none;
  }
  .manpower-box {
    display: flex;
    /* width: 50%; */
    width: 130px;
    padding-bottom: 60px;
  }
  .manpower-outbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; /* flex-wrap: wrap; */
  }
  .manpower-image {
    width: 130px;
    height: 130px;
  }
  .manpower-image-cover img {
    width: 130px;
    height: 130px;
  }

  .manpower-image span:nth-child(1) {
    font-size: 0.9rem;
  }

  .manpower-image span:nth-child(2) {
    font-size: 0.5rem;
    top: 92%;
  }
}
