#CompanyCollabo {
    text-align: center;
}

#CompanyCollabo #SubInner .company_list {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

#CompanyCollabo #SubInner .company_list li {
    line-height: 1;
    color: black;
    width: 200px;
    height: 130px;
    position: relative;
}

#CompanyCollabo #SubInner .company_list a {
    position: absolute;
    display: none;
    top: 10%;
    width: 200px;
    height: 80px;
}

#CompanyCollabo #SubInner .company_list li img {
    width: 70%;
    height: 30%;
    margin: 15px 0 0 0;

}

#CompanyCollabo #SubInner .company_list li:hover a {
    display: block;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3540e6;
    font-size: 14px;
    color: #efefef;
}

@media screen and (max-width: 765px) {
    .company_list li img {
        width: 50%;
    }
}