/* MainFullPage - Abroad */
#fullpageAbroad {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}
#fullpageAbroad #MainInner {
  height: 100%;
  padding-top: 110px;
}
#fullpageAbroad .main-abroad-container {
  position: relative;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background: url(./../../../../public/img/mainFullpage/mainFullpageAbroad/MainAbroadBg.png) no-repeat center / contain;
}
#fullpageAbroad .main-abroad-title {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  display: block;
  color: #2c3540;
  padding-left: 20px;
  margin-top: 20px;
  z-index: 800;
}
#fullpageAbroad #MainInner .main-abroad-title span {
  position: absolute;
  top: -50%;
  left: 4.5%;
  z-index: -999;
  display: block;
  color: #efefef;
}
#fullpageAbroad .abroad-bg {
  position: absolute;
  top: -1.111vw;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./../../../../public/img/mainFullpage/mainFullpageAbroad/main-abroad.png) no-repeat center / contain;
}

@media screen and (max-width: 765px) {
  #fullpageAbroad #MainInner {
    padding-top: 30px;
  }
  #fullpageAbroad .main-abroad-container {
    width: 100%;
    height: 340px;
  }
  #fullpageAbroad .main-abroad-title {
    font-size: 24px;
  }
  .abroad-bg {
    
  }
}