#mnaprocess .mnaipo-maprocess-section1 .mnaipo-maprocess-title-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mnaprocess .mnaipo-maprocess-section1 .mnaipo-maprocess-title-container .mnaipo-maprocess-title {
  font-weight: 700;
  font-size: 24px;
  color: #2c3540;
  margin-bottom: 24px;
}
#mnaprocess .mnaipo-maprocess-section1 .mnaipo-maprocess-title-container .mnaipo-maprocess-title-line {
  width: 3px;
  height: 50px;
  background-color: #3b4b59;
  margin-bottom: 60px;
}
