#maresult .mnaipo-maresult-section div {
  margin-left: 10px;
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.7;
}
#maresult #SubInner .mnaipo-maresult-section1 .mnaipo-maresult-title-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#maresult .mnaipo-maresult-section1 .mnaipo-maresult-title-container .mnaipo-maresult-title {
  font-weight: 700;
  font-size: 24px;
  color: #2c3540;
  margin-bottom: 24px;
}

/* ========================= */

#maresult .mnaipo-maresult-lists {
  display: flex;
  border-bottom: 1px solid rgba(44, 53, 64, 0.4);
}

#MaResult1,
#MaResult2 {
  color: #2c3540;
  width: 1200px;
  padding: 20px 20px;
  box-sizing: border-box;
}

.mnaipo-maresult-sub {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  font: 18px;
}

.mnaipo-maresult-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
