.mnaipo-maresult-section {
  margin: 70px 0;
}
.mnaipo-maresult-section:first-child {
  margin: 0;
}

#maresult .mnaipo-maresult-section div {
  margin-left: 10px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.7;
}
#maresult #SubInner .mnaipo-maresult-section1 .mnaipo-maresult-title-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#maresult .mnaipo-maresult-section1 .mnaipo-maresult-title-container .mnaipo-maresult-title {
  font-weight: 700;
  font-size: 24px;
  color: #2c3540;
  margin-bottom: 24px;
}

#maresult .mnaipo-maresult-section1 .mnaipo-maresult-title-container .mnaipo-maresult-title-line {
  width: 3px;
  height: 50px;
  background-color: #3b4b59;
  margin-bottom: 60px;
}

#maresult .mnaipo-maresult-part {
  display: inline-block;
  font-size: 18px;
  margin-bottom: 10px;
  position: relative;
  font-weight: bold;
}

#maresult .mnaipo-maresult-part::after {
  content: "";
  display: block;
  width: 60px;
  height: 1.8px;
  background-color: rgba(44, 53, 64, 0.5);
  border-radius: 16px;
  position: absolute;
  right: -70px;
  top: 50%;
}

/* ========================= */

.detail-tab-lists {
  display: flex;
  border-bottom: 1px solid rgba(44, 53, 64, 0.4);
}

.detail-tab-lists .detail-tab-list {
  width: 140px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #2c3540;
  border-top: 1px solid rgba(44, 53, 64, 0.4);
  border-left: 1px solid rgba(44, 53, 64, 0.4);
}

.detail-tab-lists .detail-tab-list.active {
  background-color: rgba(44, 53, 64, 0.1);
  font-weight: bold;
}

.detail-tab-lists .detail-tab-list:last-child {
  border-right: 1px solid rgba(44, 53, 64, 0.4);
}

.detail-tab-content {
  width: 1200px;
}

/* ================================ */

.mnaipo-maresult-part-header {
  display: flex;
  text-align: center;
  margin: auto;
  font-size: 16px;
}
.mnaipo-maresult-part-header div::after {
  content: "";
  display: block;
  width: 350px;
  height: 2px;
  background-color: rgba(44, 53, 64, 0.5);
}
.mnaipo-maresult-part-header div {
  width: 350px;
  margin: auto;
}

.mnaipo-maresult-part-main {
  display: flex;
  margin: auto;
}

.mnaipo-maresult-part-main div {
  width: 330px;
  margin: auto;
}

.mnaipo-maresult-part-main div dt {
  font-weight: bold;
  margin-bottom: 5px;
}

.mnaipo-maresult-part-main-left div {
  border: 2px solid rgba(44, 53, 64, 0.5);
  padding: 10px 20px 10px;
  border-radius: 10px;
}
.mnaipo-maresult-part-main-center dl {
  border: 2px solid rgba(44, 53, 64, 0.5);
  padding: 15px 15px 15px;
  border-radius: 10px;
}
.mnaipo-maresult-part-main-right dl {
  border: 2px solid rgba(44, 53, 64, 0.5);
  padding: 15px 15px 15px;
  border-radius: 10px;
}
/* ================================= */
