/* Login CSS */
#SubInner {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
} /* 건들면 안돼 */
.login-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
  /*   text-align: center; */
}
.login-title {
  font-size: 100px;
  color: #f27b35;
  margin-bottom: 100px;
}
.login-box {
  width: 600px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 0.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #3b4b59;
  color: #fff;
  text-align: center;
}

#userId {
  margin-bottom: 20px;
  /*   background-color: transparent; */
  border-radius: 5px;
  text-align: center;
}

#userPass {
  margin-bottom: 20px;
  /*   background-color: transparent; */
  border-radius: 5px;
  text-align: center;
}
