/* Login CSS */

.login-page {
    width: 100vw;
}

.login-page .detail-title {
    margin-top: 100px;
}

.login {
    width: 1000px;
    height: 450px;
    margin: 0 auto;
    padding-bottom: 40px;
    text-align: center;
}

.login .login-box {
    font-size: 16px;
}

.login .login-box label {
    color: #2c3540;
    margin: 0 10px 0 20px;
}

.login .login-box input {
    width: 70%;
    height: 36px;
    margin-right: 10px;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0 16px;
    color: #2c3540;
}

.login .login-box input:focus {
    outline: none;
    border: 2px solid #F27B35;
    border-radius: 32px;
    background-color: transparent;
}

.login-check-id-btn {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 4px;
    right: 10px;
    border: 1px solid #666;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.login-check-id-btn svg {
    margin-left: 2px;
}

.login-id {
    width: 350px;
    height: 40px;
    line-height: 36px;
    margin: 0 auto;
    background-color: #eee;
    border-radius: 32px;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    overflow: hidden;
}

.login-password {
    width: 350px;
    height: 40px;
    line-height: 34px;
    margin: 0 auto;
    background-color: #eee;
    border-radius: 32px;
    text-align: left;
    overflow: hidden;
    display: none;
}

.login-password.on {
    display: block;
    animation: pwPop 0.3s ease-in-out;
}

.login-submit-btn {
    color: #2c3540;
    font-size: 16px;
    background-color: #eee;
    padding: 6px 12px;
    border: 1px solid #666;
    border-radius: 32px;
    margin-top: 20px;
    visibility: hidden;
}

.login-submit-btn.on {
    visibility: visible;
    animation: pwPop 0.3s ease-in-out;
}

@keyframes pwPop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}