.notice-request-refer {
  color: #BF0628;
  font-size: 14px;
  text-align: right;
}
#requestForm {
  width: 1200px;
  margin-bottom: 44px;
}
#requestForm .request-form-table {
  width: 100%;
  font-size: 0.875rem;
  border-top: 1px solid #2C3540;
  border-bottom: 1px solid #2C3540;
  margin-bottom: 30px;
}
#requestForm .request-form-table #FormTitle, 
#requestForm .request-form-table #companyAddr, 
#requestForm .request-form-table #contents {
  width: 85%;
}
#requestForm .request-form-table input[type="text"] {
  width: 390px;
  border-radius: 0;
  border: 1px solid #2C3540;
  padding: 8px 10px;
}
#requestForm .request-form-table select {
  padding: 8px 12px;
}
#requestForm .request-form-table .consulting-category {
  margin-bottom: 20px;
}
#requestForm .request-form-table textarea {
  height: 300px;
  resize: none;
  border: 1px solid #2C3540;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 8px 10px;
}
#requestForm .request-form-table .request-category-chkbox {
  display: flex;
  flex-wrap: wrap;
}
#requestForm .request-form-table .request-category-chkbox label {
  margin-right: 8px;
}
#requestForm .request-form-table .request-category-chkbox span {
  display: flex;
  align-items: center;
}
#requestForm .request-form-table tr {
  border-bottom: 1px solid #ccc;
}
#requestForm .request-form-table td {
  padding: 17px 0;
  padding-left: 20px;
}
#requestForm .request-form-table th {
  background-color: rgba(59, 75, 89, .8);
  color: #efefef;
}
.submit-btn-group {
  text-align: right;
}
.submit-btn-group>button {
  width: 150px;
  height: 50px;
  border-radius: 7px;
}
.submit-btn-group>button:hover {
  font-weight: bold;
}
.submit-btn-group .request-submit-btn {
  color: #efefef;
  background-color: #3B4B59;
  margin-right: 30px;
}
.submit-btn-group .request-cancel-btn {
  background-color: #efefef;
}